.movies-card__img {
  display: block;
  width: 270px;
  height: 151px;
  object-fit: cover;
}

.movies-card__description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0 0 0;
  min-height: 59px;
  box-sizing: border-box;
}

.movies-card__title {
  margin: 0;
  padding: 4px 0 0 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.movies-card__delete-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #313131 url('../../images/delete.svg') no-repeat center;
  transition: opacity 0.3s;
  cursor: pointer;
}

.movies-card__delete-button_visible {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.movies-card__like-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #313131 url('../../images/like-off.svg') no-repeat center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.movies-card__like-button:hover {
  background: url('../../images/like-on.svg') center no-repeat;
}

.movies-card__like-button_clicked {
  background: #313131 url('../../images/like-on.svg') no-repeat center;
}

.movies-card__duration {
  margin: 0;
  padding: 6px 0 0 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
  border-top: 1px solid #424242;
}

@media screen and (max-width: 989px) {
  .movies-card__img {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 450px) {
  .movies-card__img {
    width: 300px;
    height: 168px;
  }

  .movies-card__title {
    padding-top: 5px;
    font-size: 12px;
    line-height: 15px;
  }

  .movies-card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}
