.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #202020;
  box-sizing: border-box;
}

.not-found__title {
  margin: 0;
  padding: 180px 0 0 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  color: #fff;
}

.not-found__subtitle{
  margin: 0 0 184px 0;
  padding: 5px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.not-found__link{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.not-found__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 865px) {
  .not-found__title {
    padding-top: 80px;
  }

}

@media screen and (max-width: 450px) {
  .not-found__title {
    font-size: 80px;
    line-height: 97px;
    padding-top: 300px;
  }

  .not-found__subtitle{
    margin-bottom: 284px;
    padding-top: 10px;
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__link{
    font-size: 12px;
    line-height: 15px;
  }  
}