.about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
  max-width: 100%;
  min-height: 608px;
  box-sizing: border-box;
  background-color: #202020;
}

.about-project__title {
  margin: 0;
  padding: 110px 0 23px 0;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.88px;
  color: #fff;
  border-bottom: 1px solid #DADADA;
}

.about-project__facts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  width: 100%;
  margin: 0;
  padding: 70px 0 0 0;
}

.about-project__fact-title {
  margin: 0;
  padding: 0;
  max-width: 550px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.8px;
  color: #fff;
}

.about-project__fact-info {
  margin: 0;
  padding: 26px 0 0 0;
  max-width: 550px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.about-project__timeline {
  display: grid;
  grid-template-columns: minmax(140px, 1fr) 4fr;
  grid-template-rows: repeat(2, auto);
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 110px 0 0 0;
}

.about-project__one-week {
  margin: 0;
  padding: 9px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  background-color: #3DDC84;
}

.about-project__four-weeks {
  margin: 0;
  padding: 9px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background-color: #303030;
}

.about-project__description {
  margin: 0;
  padding: 14px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
}

@media screen and (max-width: 865px) {
  .about-project {
    padding: 0 50px;
    min-height: 585px;
  }

  .about-project__title {
    padding: 90px 0 23px 0;
  }

  .about-project__facts {
    gap: 0 30px;
  }

  .about-project__fact-info {
    padding-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__timeline {
    padding-top: 93px;
  }

}

@media screen and (max-width: 450px) {
  .about-project {
    padding: 0 18px;
    min-height: 641px;
  }

  .about-project__title {
    padding: 70px 0 28px 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.72px;
  }

  .about-project__facts {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 56px 0;
    padding-top: 60px;
  }

  .about-project__fact-title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.72px;
  }

  .about-project__fact-info {
    padding-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timeline {
    grid-template-columns: minmax(100px, 1fr) 4fr;
    padding-top: 60px;
  }

  .about-project__one-week {
    padding: 11px 0;
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__four-weeks {
    padding: 11px 0;
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__description {
    padding-top: 10px;
    font-size: 11px;
    line-height: 13px;
  }
}