.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
  max-width: 100%;
  min-height: 625px;
  box-sizing: border-box;
  background-color:  #272727;
}

.techs__title {
  margin: 0;
  padding: 100px 0 23px 0;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.88px;
  color: #fff;
  border-bottom: 1px solid #DADADA;
}

.techs__big-title {
  margin: 0;
  padding: 90px 0 26px 0;
  width: 100%;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  color: #fff;
  text-align: center;
}

.techs__description {
  margin: 0;
  padding: 0;
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
  color: #fff;
  text-align: center;
}

.techs__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin: 0;
  padding: 100px 0 0 0;
  list-style: none;
}

.techs__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 60px;
  border-radius: 10px;
  background-color: #303030;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.56px;
  color: #fff;
}

@media screen and (max-width: 865px) {
  .techs {
    padding: 0 50px;
    min-height: 567px;
  }

  .techs__title {
    padding-top: 90px;
  }

  .techs__big-title {
    padding: 80px 0 22px 0;
  }

  .techs__description {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
    padding-top: 83px;
  }

  .techs__list-item {
    min-height: 57px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 450px) {
  .techs {
    padding: 0 18px;
    min-height: 651px;
    background-color:  #202020;
  }

  .techs__title {
    padding: 70px 0 28px 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.72px;
    border-color: #000;
  }

  .techs__big-title {
    padding: 60px 0 24px 0;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1.2px;
  }

  .techs__description {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }

  .techs__list {
    padding-top: 50px;
    width: calc(100% - 50px);
  }
}